<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <packageSources>
    <add key="Sales.Seedwork" value="https://pkgs.dev.azure.com/TelepizzaIT/_packaging/Sales.Seedwork/nuget/v3/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <Sales.Seedwork>
      <add key="Username" value="vectordesarrollo@telepizza.com" />
      <add key="ClearTextPassword" value="hosa27c7lswmxwqqnoeiabg3v5ctvpw6mnikotgmvkrlb3r3e3ha" />
    </Sales.Seedwork>
  </packageSourceCredentials>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
</configuration>